// import _base.scss for variables and mixins
@import 'base';

body {
  font-family: $font-stack;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header {
  height: $header_height;
}

// Phaser game <canvas>
canvas {
  position: absolute;
  top: $header_height;
  margin-top: 8px;
  border: 3px solid white;
  border-radius: 20px;
  width: $canvas_width;
  height: $canvas_height;
}

// React Application <div id="root">
#root {
  height: 100vh;
  width: 100%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
  }
}

// component boxes aside game canvas (Highscores, Controls, Game Stats, User Info)

.asideGame {
  width: 18vw;
  display: flex; 
  flex-direction: column;
  .sidetab {
    line-height: 1.5em;
    border: 3px solid white;
    border-radius: 20px; // top-left top-right bottom-right bottom-left
    margin: 0;
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

// Sidetabs Children
.box-title {
  color: teal;
  line-height: 2em;
}
.box-title:hover {
  cursor: pointer;
}

.gameStats {
  // danger class added to timer when there is 1 minute remaining
  .danger {
    color: red;
  }
}


table {
  transition: max-height 0.5s ease; // Max-Height transition on sidetab tables click
  max-height: 20px;
  tbody, tfoot {
    overflow: hidden;
  }
  tfoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.open {
  max-height: 300px;
}

// Highscores and Controls tables

tbody {
  tr {
    display: flex; 
    justify-content: space-between;
    font-size: 0.8em;
  }
}

// background
.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: -1;
  filter:brightness(70%);
}


