// import _base.scss for variables and mixins
@import 'base';

body {
  font-family: $font-stack;
  background: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: #00212b;
  color: white; // body text color
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

header {
  height: $header_height;
}

// Phaser game <canvas>
canvas {
  position: absolute;
  top: $header_height;
  left: $beside_canvas;
  margin-top: 8px;
  border: 3px solid white;
  border-radius: 20px;
  width: $canvas_width;
  height: $canvas_height;
}

// React Application <div id="root">
#root {
  overflow: scroll;
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
  }
}

/* ----- MEDIA QUERIES ----- */

/* Smartphones: to maximum width of around 480px (small tablets) */
// @media only screen and (max-width: 480px) {
//   /* smartphone only styles here */

// }

// /* Small tablet or narrowed-browser screen */ 
// @media only screen and (max-width: 667px) {

// }

// /* Tablet and above: minimum width of 668px */
// @media only screen and (min-width: 668px) {
// }


