@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
}

canvas {
  border: 3px solid white;
  border-radius: 0 20px 20px 20px;
}

.gameSidebar {
  display: flex; 
  flex-direction: column;
  width: 100%;
}

.sidetab {
  font-size: 20px;
  font-family: 'Press Start 2P', Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  list-style-type: none;
  border: 3px solid white;
  border-right: 0;
  border-radius: 20px 0 0 20px; // top-left top-right bottom-right bottom-left
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



// Sidetabs 

.gameStats {
  // danger class added to timer when there is 1 minute remaining
  .danger {
    color: red;
  }
}
.highScores {
  border-top: 0;
}
.controls {
  border-top: 0;
}

// background
.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: -1;
  filter:brightness(70%);
}


