// import _base.scss for variables and mixins
@import 'base';


nav {
  @include nav-list;
  width: 100%;
  height: 100%;
  // LOCKDOWN logo
  .logo {
    font-size: 2em;
    width: $beside_canvas - 5vw;
    padding: 0.5em;
    text-align: center;
  }
  // Main Navigation
  .nav-list {
    width: $canvas_width;
    @include nav-list;
  }
  // Login/Register
  .login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: $beside_canvas - 6vw;
    color: teal;
    ul {
      margin: 0;
    }
  }
}

