// Press Start 2P Font
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$font-stack: 'Press Start 2P', Verdana, Geneva, Tahoma, sans-serif;

// Tablet sizing
$canvas_width_tablet: 650px;
$canvas_height_tablet: 488px;

// Desktop sizing
$canvas_width: 800px;
$canvas_height: 600px;
$header_height: 50px;
$beside_canvas: 28vw; // space left/right of canvas

@mixin nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  li:hover {
    text-decoration: underline;
    cursor: pointer; 
  }
}