@import 'base';

// component boxes aside game canvas (Highscores, Controls, Game Stats, User Info)

.asideGame { // panel left of canvas
  width: 0.8 * 100vw;
  height: fit-content;
  display: flex; 
  flex-direction: column;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  .sidetab {
    line-height: 1.5em;
    border: 3px solid white;
    border-radius: 20px; // top-left top-right bottom-right bottom-left
    margin: 0;
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

// Sidetabs Children
.box-title {
  color: teal;
  line-height: 2em;
}
.box-title:hover {
  cursor: pointer;
}

.gameStats {
  // danger class added to timer when there is 1 minute remaining
  .danger {
    color: red;
  }
}

table {
  transition: max-height 0.5s ease; // Max-Height transition on sidetab tables click
  max-height: 20px;
  tbody, tfoot {
    overflow: hidden;
  }
  tfoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.open {
  max-height: 300px;
}

tbody {
  tr {
    display: flex; 
    justify-content: space-between;
    font-size: 0.8em;
  }
}


